name: Run tests

on:
  push:
    branches-ignore: [ release ]
  pull_request:
    branches: [ master release ]

jobs:
  build:
    name: Build + Test
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
        # Due to https://github.com/actions/runner/issues/849, we have to use quotes for '3.0'
        ruby:
          - 2.7
          - '3.0'
          - 3.1
          - head
          - truffleruby
          - truffleruby-head
          # - jruby
          # - jruby-head
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true # runs 'bundle install' and caches installed gems automatically
    - name: Run tests
      run: CI=true bundle exec rspec
    - name: Upload report
      run: |
        mv ./coverage/coverage.xml cobertura.xml
        bash <(curl -Ls https://coverage.codacy.com/get.sh) report
      env:
        CODACY_PROJECT_TOKEN: ${{secrets.CODACY_PROJECT_TOKEN}}
